StableFluid/Fluid
MAC/MAC
*.d
*.swo
*.swp
*.o
tags
*.gpl
*.gif

*.plist
*.data
*.msgq
MAC
*.swn
*.jpg
CMakeCache.txt
cmake_install.cmake
3dMAC/CMakeFiles
3dMAC/images
3dMAC/*.swn
3dMAC/*.swo
3dMAC/*.swp
3dMAC/*.swm